---
layout: default
title: "Coming Soon"
pagination:
  enabled: true
---
<div class="posts">
  <div class="grid-xlarge">

    <section class="post">
      <div>
        <div class="post__header section-padding--double">
          <div class="grid-small">
            <h2>{{ page.title }}</h2>
          </div>
        </div>
      </div>
    </section>

    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>
      {% for post in paginator.posts %}
        {% include post-card.html %}
      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}
</div>
